@import './components/fontweight.css';

#app,
#app div,
#app a,
#app p,
#app span,
#app table,
#app thead,
#app tbody,
#app tr,
#app td {
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: 0.006em !important;
}

/* default box shadow */
#app .box_shadow--default {
  box-shadow: 0px 4px 10px rgba(189, 189, 189, 0.25);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Theme with transparent color */
#app .white--transparent {
  background: rgba(255, 255, 255, 0.2);
}

#app .primary--transparent {
  background: rgba(85, 201, 173, 0.3);
}

#app .error--transparent {
  background: rgba(201, 85, 85, 0.3);
}

#app .secondary--fade {
  background-color: #ebeff9;
}

#app .p-absolute {
  position: absolute;
}

/* Default Shadow */
#app .box-shadow--default {
  box-shadow: 0px 4px 10px rgba(189, 189, 189, 0.25);
}
/* Primary Button Shadow */
#app .btn-shadow--default {
  box-shadow: 0px 5px 20px rgba(77, 183, 161, 0.25);
}
/* Chat Message Shadow */
#app .chat-shadow--default {
  box-shadow: 1px 2px 3px rgba(240, 243, 244, 0.5);
}
/* Dropdown Menu Shadow */
#app .dropdown-shadow--default {
  box-shadow: 0px 4px 20px rgba(189, 189, 189, 0.5);
}
/* Sidebar Light Shadow */
#app .sidebar-shadow--default {
  box-shadow: 2px 2px 20px rgba(238, 240, 244, 0.5);
}
/* auto scroll */
#app .overflow-scroll--auto {
  overflow: auto;
}
/* disable pointer events */
.disable-events {
  pointer-events: none;
}

/* custom font sizes */
#app .text-h4-v2 {
  font-size: 32px;
  line-height: 150%;
}
#app .text-h4-v3 {
  font-size: 30px;
  line-height: 150%;
}
